# Telegram Bot
BOT_ENV=test
TEST_BOT_TOKEN=
PROD_BOT_TOKEN=

# Database
DATABASE_URL=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bakery
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSLMODE=disable

# Admin user created by worker on startup if missing.
ADMIN_USERNAME=admin
ADMIN_PASSWORD=

# iiko Resto API
IIKO_HOST=
IIKO_PORT=443
IIKO_LOGIN=
IIKO_PASSWORD=

# Logging
LOG_LEVEL=INFO
LOG_PRETTY=false
LOG_DIR=

# App
MIGRATIONS_DIR=migrations
SYNC_INTERVAL=6h
ORDER_CLEANUP_INTERVAL=24h
ORDER_RETENTION=744h
HTTP_HOST=
PORT=8080
HTTP_ALLOWED_ORIGINS=
HTTP_SHUTDOWN_TIMEOUT=10s
